<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">TinyApp</a></li>
                <li><a href="/urls" class="nav-link px-2 text-white">
                        <%= (user===undefined) ? '' : 'My URLs' %>
                    </a></li>
                <li><a href="/urls/new" class="nav-link px-2 text-white">
                        <%= (user===undefined) ? '' : 'Create New URL' %>
                    </a></li>
            </ul>

            <div class="text-end">
                <% if (user===undefined) { %>
                    <form class="form-inline" action="/login" method="GET">
                    <div class="form-group mb-2">
                        <button type="submit" class="btn btn-primary">
                            Log In/Sign Up
                        </button>
                    </div>
                    </form>
                    <% } else { %>
                    <form class="form-inline" action="/logout" method="POST">
                        <div class="form-group mb-2">
                            <button type="submit" class="btn btn-primary">
                                Log Out
                            </button>
                        </div>
                    </form>
                   <% } %>

            </div>
        </div>
</header>